@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/type';
@import "../../root.scss";
.tile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 200px;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    margin: 1rem;
    padding-top: 25px;
    .tileContainer {
        display: flex;
        margin-bottom: 1rem;
        margin-right: 3rem;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 30px;
         :global(.cds--label) {
            font-size: 16px;
        }
    }
    .actionButton {
        height: 50px;
        // flex-shrink: 0;
    }
}

:global(.cds--date-picker) {
    display: flex;
    gap: 10px;
}

.container {
    background-color: $ui-01;
}

.tableContainer {
    background-color: $ui-01;
    margin: 0 spacing.$spacing-05;
    padding: 0;
}

.layerTable {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: spacing.$spacing-05;
    margin: 2rem 1rem;
    text-align: center;
    border: 1px solid colors.$gray-20;
}

.tileTable {
    margin: auto;
}

.contentTable {
    @include type.type-style("heading-compact-02");
    color: colors.$gray-70;
    margin-top: spacing.$spacing-05;
    margin-bottom: spacing.$spacing-03;
}

.explainerTable {
    @include type.type-style('body-compact-01');
    color: colors.$gray-70;
}