@use '@carbon/styles/scss/spacing';
@import "../../root.scss";
.tile {
    height: 150px;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 20px;
    padding-top: 25px;
    display: flex;
}

.tile .tileContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.tile .tileContainer .actionButton {
    height: 50px;
}

:global(.cds--date-picker) {
    display: flex;
    gap: 10px;
    width: auto;
}