@use '@carbon/styles/scss/colors';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
.reportContainer {
    background-color: colors.$white-0;
    padding: 1rem;
}

.layer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: spacing.$spacing-05;
    margin: 2rem 1rem;
    text-align: center;
    border: 1px solid colors.$gray-20;
}

.tile {
    margin: auto;
}

.content {
    @include type.type-style("heading-compact-02");
    color: colors.$gray-70;
    margin-top: spacing.$spacing-05;
    margin-bottom: spacing.$spacing-03;
}

.explainer {
    @include type.type-style('body-compact-01');
    color: colors.$gray-70;
}

.tile {
    height: 150px;
    width: auto;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
    margin-left: 20px;
    padding-top: 25px;
}

.tile .tileContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
}

.tile .tileContainer .actionButton {
    height: 50px;
}

:global(.cds--date-picker) {
    display: flex;
    gap: 45px;
}